.rating-container {
	width: 100%;
}

.rating-container .star-wrapper {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.rating-container .star-wrapper span {
	display: inline-block;
	font-size: 2.5rem;
	transition: transform 0.3s, background-image 0.3s;
}

/* color star on hover */
.rating-container .star-wrapper label:hover span {
	background-image: var(--yellow-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transform: scale(1.3);
}

/* color all stars after the label on hover */
.rating-container .star-wrapper label:hover ~ label span {
	background-image: var(--yellow-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.rating-container .star-wrapper input[type="radio"] {
	display: none;
}

/* color stars when checked and the next stars */
.rating-container .star-wrapper input[type="radio"]:checked + label span,
.rating-container .star-wrapper input[type="radio"]:checked ~ label span {
	background-image: var(--yellow-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.rating-container .description {
	display: flex;
	justify-content: space-between;
	margin-top: 0.2rem;
}

.rating-container .description p {
	font-size: 0.75rem;
	color: var(--gray-30);
}
