.container {
	width: 100%;
	height: 100vh;
	background-image: var(--brand-color-gradient-20);

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
}

.container .card {
	max-width: 25.6rem;
	width: 100%;
	box-shadow: 0 24px 24px 0 rgba(20, 17, 59, 0.21);
}

.container .card header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 11.5rem;

	background-image: var(--brand-color-gradient-10);
	border-radius: 1.25rem 1.25rem 0 0;
	position: relative;
}

.container .card header .arrow-back {
	color: var(--gray-10);
	position: absolute;
	left: 5%;
	top: 10%;
	cursor: pointer;
}

.container .card header img {
	position: absolute;
	bottom: 0;
}

.container .card .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem;
	background-color: var(--gray-10);
	border-radius: 0 0 1.25rem 1.25rem;
}

.confirm-button {
	margin-top: 2.5rem;
}
