@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
	--brand-color-10: #685ed9;
	--brand-color-20: #4439c7;
	--brand-color-gradient-10: linear-gradient(60deg, #4453b2, #502c9e);
	--brand-color-gradient-20: linear-gradient(#0f0a31, #3f347e);

	--gray-10: #fafafa;
	--gray-20: #e3e1e4;
	--gray-30: #75747a;
	--gray-40: #2f2f33;
	--gray-50: #0c0c0d;

	--yellow-10: #faf2e7;
	--yellow-20: #f5d9ad;
	--yellow-gradient: linear-gradient(160deg, #f9d399, #d4983e);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: "Inter", sans-serif;
}
