.button {
	width: 100%;
	max-width: 19.6rem;
	height: 3.5rem;
	background-color: var(--brand-color-10);
	color: var(--gray-10);
	font-weight: 700;
	font-size: 1rem;
	border: none;
	border-radius: 0.5rem;
	padding: 1rem 1.25rem;
	cursor: pointer;

	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: var(--brand-color-20);
}

.button:disabled,
.button[disabled=disabled] {
	opacity: 50%;
}

.button:disabled:hover,
.button[disabled=disabled]:hover {
	background: var(--brand-color-10);
}